.login-container,
.register-container {
  padding-top: 60px;
}
.React-Fragment {
  background: linear-gradient(to right, #960019 50%, white 50%);
}
.Container {
  background: linear-gradient(to right, #960019 50%, white 50%);
}
.home-card {
  width: 60rem;
  box-shadow: 4px 8px 20px #b0b0b0;
  border-radius: 0.5rem;
  overflow: hidden;
  border: none;
  z-index: 10;
  margin-top: -220px;
  height: 100%;
  margin-left: 5rem;
}
.buatwork {
  display: none;
}
.buatvar {
  display: none;
}
.but {
  margin-bottom: 10rem;
}
.tulisankiri {
  margin-top: 5rem;
  margin-left: -5rem;
}

.login-form,
.register-form {
  padding-left: 7rem;
  padding-right: 7rem;
}

.login-button,
.login-button:hover,
.login-button:active,
.forgot-password-button,
.register-button,
.register-button:hover,
.register-button:active {
  background-color: chocolate !important;
}

.login-button,
.register-button {
  width: 175px;
}

.login-fas,
.register-fas {
  padding: 6px;
  color: #00978b;
}
.white {
  background-color: white;
}
.batasatas {
  margin-top: 5rem;
}
.login-card-fore,
.register-card-fore {
  box-shadow: 4px 8px 20px #b0b0b0;
}

.login-form .form-control,
.forgot-password-form .form-control,
.register-form .form-control,
.DatePicker {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0px;
}
.form-label {
}

.formnya {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0px;
  width: 9rem;
  height: 2.5rem;
}
.react-autosuggest__input {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0px;
  height: 2.5rem;
}
.login-form .form-control:focus,
.forgot-password-form .form-control:focus,
.register-form .form-control:focus {
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.atasgambar {
  color: white;
}
h3 {
  font-size: 20px;
  margin: 0px;
  margin-top: -1rem;

  font-family: "VT323", monospace;
}
.navbar-default .navbar-brand {
  color: maroon;
}
.belakanggambar2 {
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-radius: 15px;
  margin-top: 1rem;
}
.belakanggambar1 {
  background-color: transparent;
  width: 10rem;
  height: 10rem;
  border-style: solid;
  border-width: 1px;
  border-color: #d3d3d3;
  border-radius: 15px;
  margin-top: 1rem;
}
.planeicon {
  margin-left: 15rem;
  margin-top: 1rem;
}
.cari {
  margin-top: 1rem;
  margin-left: 5rem;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
.returnicon {
  margin-top: 2rem;
}
.buttonawal {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
}
.atasform {
  margin-bottom: 1rem;
  margin-left: 15rem;
}
.muka {
  margin-left: -25rem;
}
