.login-container,
.register-container {
  padding-top: 60px;
}

.login-card,
.register-card {
  width: 60rem;
  box-shadow: 4px 8px 20px #b0b0b0;
  border-radius: 0.5rem;
  overflow: hidden;
  border: none;
}

.login-form,
.register-form {
  padding-left: 7rem;
  padding-right: 7rem;
}

.login-button,
.login-button:hover,
.login-button:active,
.forgot-password-button,
.register-button,
.register-button:hover,
.register-button:active {
  background-color: chocolate !important;
}

.login-button,
.register-button {
  width: 175px;
}

.login-fas,
.register-fas {
  padding: 6px;
  color: #00978b;
}
.white {
  background-color: white;
}
.batasatas {
  margin-top: 5rem;
}
.login-card-fore,
.register-card-fore {
  box-shadow: 4px 8px 20px #b0b0b0;
}

.login-form .form-control,
.forgot-password-form .form-control,
.register-form .form-control {
  background-color: #f2f2f2;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 0px;
}

.login-form .form-control:focus,
.forgot-password-form .form-control:focus,
.register-form .form-control:focus {
  background-color: #ffffff;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}
.atasgambar {
  color: white;
}
