.namamaskapai {
  font-size: 15px;
  margin-left: -40rem;
  font-family: "Anonymous Pro", monospace;
  margin-top: 5rem;
}
.berangkat {
  font-size: 22px;
  margin-left: -20rem;
  font-family: "Anonymous Pro", monospace;
}
.durasi {
  font-size: 22px;
  margin-left: -30rem;
  font-family: "Anonymous Pro", monospace;
}
.sampai {
  font-size: 22px;
  margin-left: -30rem;
  font-family: "Anonymous Pro", monospace;
}
.harga {
  font-size: 25px;
  color: brown;
  margin-left: -12rem;
  margin-top: -9.5rem;
  font-family: "Anonymous Pro", monospace;
}
.paket {
  font-size: 20px;
  color: grey;
  margin-left: 1rem;
  margin-top: -2rem;
  font-family: "Anonymous Pro", monospace;
}
.detail {
  font-size: 20px;
  margin-top: -2rem;
  font-family: "Anonymous Pro", monospace;
}
.batasbawah {
  padding-bottom: 5rem;
}
.pilih {
  margin-left: 40rem;
  margin-top: -10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.pilihq {
  margin-left: 5rem;
  margin-top: -10rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.pilihh {
  margin-left: 20rem;
  margin-top: -7rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
